<header>
    <div id="logo">
        <a href="#/">
            <img src="./images/logo.png" alt="logo"/>
        </a>
    </div>
    <div id="signBox">
        <a href="#/Register" class="log-reg">Register</a>
        <a href="#/Login" class="log-reg">Login</a>
    </div>
    <section id="links">
        <a href="#/Latest">Latest</a>
        <a href="#/Random">Random</a>
        <a href="#/Albums">Albums</a>
        <a href="#/Upload">Upload</a>
        <a href="#/Comments">Comments</a>
    </section>
    <div id="searchBox">
        <input type="search" id="search" placeholder="Search..."/>
        <button id="search-button"></button>
    </div>
</header>
<main id="mainContent"></main>