<div id="register-box">
    <h3>Register</h3>
    <p>
        <label for="reg-username">Username:</label>
        <input type="text" id="reg-username"/>
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="email" id="email"/>
    </p>
    <p>
        <label for="reg-password">Password:</label>
        <input type="password" id="reg-password"/>
    </p>
    <p>
        <label for="repeat-password">Repeat password:</label>
        <input type="password" id="repeat-password"/>
    </p>
    <button id="reg-button">Register</button>
</div>

<div id="loginBox">
    <h3>Already a member?</h3>
    <h4>Log in</h4>
    <p>
        <label for="login-username">Username:</label>
        <input type="text" id="login-username"/>
    </p>
    <p>
        <label for="login-password">Password:</label>
        <input type="password" id="login-password"/>
    </p>
    <button id="login-button">Login</button>
</div>