html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background: url("../images/background.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
body div#container {
    min-height: 100%;
}

body div#container header {
    text-align: center;
    color: white;
}

body div#container header div#logo a img {
    height: 120px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
}

body div#container header section#links {
    margin-top: 20px;
    margin-bottom: 20px;
}

body div#container header section#links a {
    margin: 0 5px;
}

body div#container header section#links a, body div#container header div#signBox a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

body div#container header div#signBox {
    font-family: 'PT Serif', serif;
    margin-top: 20px;
    margin-bottom: 40px;
}

body div#container header section#links a:hover, body div#container header div#mainMenu ul li:hover,
body div#container header div#signBox a:hover {
    text-decoration: none;
    background: #2a7e9b;
    cursor: pointer;
    border-radius: 20px;
}

body div#container header section#links a:active, body div#container header div#mainMenu ul li:active,
body div#container header div#signBox a:active {
    background: #20465f;
}

body div#container header div#mainMenu ul {
    list-style-type: none;
    padding: 0;
}

body div#container header div#mainMenu ul li {
    width: 5%;
    padding: 5px;
    margin: 0 auto;
}

body div#container header div#mainMenu ul li a {
text-decoration: none;
color: white;
}

body div#container header div#loginBox form {
    margin-top: 20px;
    margin-bottom: 20px;
}

body div#container header div#loginBox form input, body div#container header div#searchBox input {
    padding: 5px;
    color: black;
}

body div#container header div#searchBox img {
    width: 30px;
    margin: 5px;
    vertical-align: middle;
}

body div#container header div#searchBox button#search-button {
    background: url("../images/search.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}

body div#container header div#searchBox button#search-button:hover {
    background: url("../images/search-hover.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}

body div#container header div#searchBox button#search-button:active {
    background: url("../images/search-clicked.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    vertical-align: middle;
}

body div#container main#mainContent {
    text-align: center;
    color: white;
    width: 90%;
    margin: 2% auto;
}

body div#container main#mainContent input, body div#container main#mainContent button,
body div#container main#mainContent div#createAlbumContainer select#album-category {
    color: black;
    padding: 5px;
    margin: 16px;
}

body div#container main#mainContent div#login-box, body div#container main#mainContent div#register-box {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

body div#container main div#login-box:hover, body div#container main div#register-box:hover {
    background: rgba(0, 0, 0, 0.16);
}

body div#container main#mainContent div#login-box h3, body div#container main#mainContent div#login-box h4,
body div#container main#mainContent div#register-box h3, body div#container main#mainContent div#register-box h4 {
    font-family: 'Lora', serif;
    font-style: italic;
}

body div#container main#mainContent div#login-box button, body div#container main#mainContent div#register-box button,
body div#container main#mainContent div#albums button, body div#container main#mainContent div#createAlbumContainer button,
body div#container main#mainContent div#file-upload input#upload-button {
    padding: 11px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #DC741F;
    font-weight: bold;
    font-family: 'Lora', serif;
    font-size: 1em;
}

body div#container main#mainContent  div#login-box button:hover, body div#container main#mainContent  div#register-box button:hover,
body div#container main#mainContent div#albums button:hover, body div#container main#mainContent div#createAlbumContainer button:hover,
body div#container main#mainContent div#file-upload input#upload-button:hover {
    background-color: #f0871f;
}

body div#container main div#login-box button:active, body div#container main div#register-box button:active,
body div#container main#mainContent div#albums button:active,
body div#container main#mainContent div#createAlbumContainer button:active,
body div#container main#mainContent div#file-upload input#upload-button:active {
    background-color: #b95f20;
}

body div#container main div#login-box div, body div#container main div#register-box div,
body div#container main div#login-box button, body div#container main div#register-box button{
    float: right;
    clear: both;
    margin-right: 50px;
}

body div#container main#mainContent div#file-upload input#file-select {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body div#container main div#galleryContainer {
    margin: 10px auto;
    width: 825px;
    padding: 5px;
    border-radius: 10px;
}

body div#container main div#galleryContainer:hover {
    background: rgba(255, 255, 255, 0.16);
}

#first-row, #second-row, #third-row, #fourth-row {
    margin: 0;
    margin-top: 2px;
    padding: 0;
}

body div#container main div#galleryContainer div#first-row a {
    display: inline-block;
    width: 203px;
    height: 114px;
    background-image: url("http://fc00.deviantart.net/fs70/i/2010/332/2/3/bokeh_16_9_wallpaper_by_zeiphex-d33sn2y.jpg");
    background-size: contain;
}

body div#container main div#galleryContainer div#second-row a {
    display: inline-block;
    width: 114px;
    height: 64px;
    background-image: url("http://www.yahee.net/wp-content/uploads/2014/01/Full-Hd-Duvarka%C4%9F%C4%B1tlar%C4%B1-1-305.jpg");
    background-size: contain;
}

body div#container main div#galleryContainer div#third-row a {
    display: inline-block;
    width: 272px;
    height: 153px;
    background-image: url("http://www.100hdwallpapers.com/wallpapers/1920x1080/dark_game_scene-hd_wallpapers.jpg");
    background-size: contain;
}

body div#container main div#galleryContainer div#fourth-row a {
    display: inline-block;
    width: 161px;
    height: 91px;
    background-image: url("http://squadracorse-polito.com/downloads/wallpapers/16-9/Hybrid%20Win%20USA%2016-9.jpg");
    background-size: contain;
}

footer {
    background: url("../images/footer.jpg");
    height: 50px;
    background-size: contain;
    width: 100%;
    clear: both;
}

body div#signBox > a {
    color: white;
}

.thumbnail-container {
    display: inline-block;
    width: 260px;
    height: 200px;
    margin: 1% 0.5%;
    vertical-align: middle;
    text-align: center;
    white-space: normal;
    background-color: black;
    box-shadow: 0 0 4px rgba(0,0,0,.8);
}

.thumbnail {
    min-height: 100%;
    max-height: 200px;
    max-width: 100%;
}